*   text=auto

*.c text trailing-space space-before-tab tab-in-indent -indent-with-non-tab tabwidth=4
*.h text trailing-space space-before-tab tab-in-indent -indent-with-non-tab tabwidth=4
*.cpp text trailing-space space-before-tab tab-in-indent -indent-with-non-tab tabwidth=4

# Windows files
*.sln text eol=crlf
*.bat text eol=crlf
*.dsw text eol=crlf
*.vcproj text eol=crlf
*.vcxproj text eol=crlf
