*   text=auto

[attr]cpputesttext text eol=lf whitespace=trailing-space,space-before-tab,tab-in-indent,tabwidth=4

*.c cpputesttext
*.h cpputesttext
*.cpp cpputesttext 

# Windows files
*.sln text eol=crlf
*.bat text eol=crlf
*.dsp text eol=crlf
*.dsw text eol=crlf
*.dep text eol=crlf
*.mak text eol=crlf
*.vcproj text eol=crlf
*.vcxproj text eol=crlf
