*   text=auto

*.c text
*.h text
*.cpp text

# Windows files
*.sln text eol=crlf
*.bat text eol=crlf
*.dsp text eol=crlf
*.dsw text eol=crlf
*.dep text eol=crlf
*.mak text eol=crlf
*.vcproj text eol=crlf
*.vcxproj text eol=crlf


*.sh text
*.ac text
*.am text
