--- 
language: cpp
compiler: 
- clang
- gcc
env: 
  matrix: 
  - BUILDTOOL=autotools
  - BUILDTOOL=cmake
  global: 
  - secure: |-
      P05xUfJVw5YM4hF7hzQLjyMzDD4Q1/fyWP9Uk5aK5VrSWNY99EuxldXI5QK/
      vA1NkcW49tQW1wQvBlRtdlLNOmUfDP/oiJFXPwNn4dqwOIOEet2P7JO/5hnH
      MNHlZmGu2WpoZREhOFBfsIhK0IP8mloqLDq2XemBdga/LWygrLU=
install: 
- sudo apt-get update --fix-missing
- sudo apt-get install valgrind
- wget https://googlemock.googlecode.com/files/gmock-1.6.0.zip
- unzip gmock-1.6.0.zip
- cd gmock-1.6.0
- ./configure && make
- cd ..
before_script: 
- export GMOCK_HOME=$TRAVIS_BUILD_DIR/gmock-1.6.0
- export GTEST_HOME=$TRAVIS_BUILD_DIR/gmock-1.6.0/gtest
- export CPPUTEST_BUILD_DIR=$TRAVIS_BUILD_DIR/cpputest_build
- mkdir -p $CPPUTEST_BUILD_DIR && cd $CPPUTEST_BUILD_DIR
script: 
- ruby ../scripts/deploy_to_github_pages.rb
