language: cpp
compiler:
  - clang
  - gcc
env:
  - BUILDTOOL=autotools
  - BUILDTOOL=cmake
install:
  - wget https://googlemock.googlecode.com/files/gmock-1.6.0.zip
  - unzip gmock-1.6.0.zip
  - cd gmock-1.6.0
  - ./configure && make
  - cd ..
before_script:
  - export GMOCK_HOME=$TRAVIS_BUILD_DIR/gmock-1.6.0
  - export GTEST_HOME=$TRAVIS_BUILD_DIR/gmock-1.6.0/gtest
  - export CPPUTEST_BUILD_DIR=$TRAVIS_BUILD_DIR/cpputest_build
  - mkdir -p $CPPUTEST_BUILD_DIR && cd $CPPUTEST_BUILD_DIR
script:
  - if [ $BUILDTOOL = "autotools" ]; then ../configure && echo "CONFIGURATION DONE. Compiling now." && make check_all; if [ $CXX = "gcc" ] then echo "Release now"; fi; fi
  - if [ $BUILDTOOL = "cmake" ]; then cmake .. -DCMAKE_BUILD_TYPE=$CMAKE_BUILD_TYPE && make && ctest -V; fi
  - if [ $BUILDTOOL = "cmake" ]; then cmake .. -DGMOCK=ON && make && ctest -V; fi
  - if [ $BUILDTOOL = "cmake" ]; then cmake .. -DGMOCK=OFF -DREAL_GTEST=ON && make && ctest -V; fi
