---
name: Basic builds

on:
  push:
  pull_request:

jobs:
  automake:
    strategy:
      matrix:
        include:
          # Mac OSX
          - os: macos-latest
            cc: gcc
            cxx: g++
          - os: macos-latest
            cc: clang
            cxx: clang++
          # Linux
          - os: ubuntu-latest
            cc: gcc
            cxx: g++
          - os: ubuntu-latest
            cc: clang
            cxx: clang++
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - run: brew install automake
        if: ${{ startswith(matrix.os, 'macos') }}
      - if: ${{ matrix.cxx }}
        run: echo "CXX=${{ matrix.cxx }}" >> $GITHUB_ENV
      - if: ${{ matrix.cc }}
        run: echo "CC=${{ matrix.cc }}" >> $GITHUB_ENV
      - name: Configure
        run: |
          autoreconf -i .
          ./configure
      - name: Build and test
        run: make tdd

  cmake:
    strategy:
      matrix:
        include:
          # Windows
          - os: windows-latest
            cpp_version: 17
          # Linux
          #   CMake different C++ versions with clang
          - os: ubuntu-latest
            cpp_version: 98
            cxx: clang++
            cc: clang
          - os: ubuntu-latest
            cpp_version: 11
            cxx: clang++
            cc: clang
          - os: ubuntu-latest
            cpp_version: 14
            cxx: clang++
            cc: clang
          - os: ubuntu-latest
            cpp_version: 17
            cxx: clang++
            cc: clang
          #   CMake different C++ versions with gcc
          - os: ubuntu-latest
            cpp_version: 98
            cxx: g++
            cc: gcc
          - os: ubuntu-latest
            cpp_version: 11
            cxx: g++
            cc: gcc
          - os: ubuntu-latest
            cpp_version: 14
            cxx: g++
            cc: gcc
          - os: ubuntu-latest
            cpp_version: 17
            cxx: g++
            cc: gcc
          # Mac OSX
          - os: macos-latest
            cpp_version: 17
            cxx: clang++
            cc: clang
          - os: macos-latest
            cpp_version: 14
            cxx: g++
            cc: gcc
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - if: ${{ matrix.cxx }}
        run: echo "CXX=${{ matrix.cxx }}" >> $GITHUB_ENV
      - if: ${{ matrix.cc }}
        run: echo "CC=${{ matrix.cc }}" >> $GITHUB_ENV
      - name: Configure
        run: cmake -B build -S . -DCMAKE_CXX_STANDARD=${{ matrix.cpp_version }}
        if: ${{ matrix.cpp_version }}
      - name: Build
        run: cmake --build build
      - name: Test
        run: ctest --test-dir build
